spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smartcontactmanager
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update  # Options: none, validate, update, create, create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379

server:
  port: 5000

logging:
  level:
    org:
      springframework:
        security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
#logging:
#  level:
#    org:
#      springframework: DEBUG
#      hibernate: DEBUG
